page-participants {
  ion-list {
    margin: 16px 0 !important;
    ion-item {
      ion-grid {
        ion-col:first-child, ion-col:nth-child(2) {
          padding-top: 7px !important;
        }
        ion-col {
          button {
            margin: 0 !important;
            padding: 0 !important;
          }
        }
      }
    }
  }
  .item-inner {
    padding: 0 !important;
  }
  .item-md {
    padding: 0 !important;
  }
  .label-md {
    margin: 0 !important;
  }
}
