page-participants {
  ion-header {
    ion-toolbar {
      padding: 0 !important;
      .toolbar-background {
        background-color: map-get($colors, bg);
      }
      ion-searchbar {
        padding: 0;
        input {
          background-color: map-get($colors, bg) !important;
          box-shadow: none !important;
        }
      }
    }
  }
  ion-list {
    margin: 16px 0 !important;
  }
  .item-inner {
    padding: 0 !important;
  }
  .item-md {
    padding: 0 !important;
    margin: 0px 13px;
  }
}
