<app-header></app-header>
<div class="container-fluid cont">
  <div class="row">
    <div class="col-md-5 offset-md-8">
      <form class="form-inline">
        <button type="button" class="btn btn-primary mb-2">+ Add Event</button>
        <div class="form-group mx-sm-3 mb-2">
          <div class="input-group">
            <input type="text" class="form-control" id="search" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <app-event-list></app-event-list>
</div>