<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="row">
    
    <div class="col-3">
      <div class="form-group upload">
        <label for="eventImg">
          <i class="ion-ios-plus"></i>
        </label>
        <input name="eventImg" id="eventImg" type="file" ngModel>
      </div>
    </div>

    <div class="col">

      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Event Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" ngModel required>
        </div>
      </div>

      <div class="form-group row">
        <label for="datetime" class="col-sm-2 col-form-label">Date and Time</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="date" class="form-control" id="datetime" name="date" ngModel required>
            <input type="time" class="form-control" id="datetime" name="time" ngModel required>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="location" class="col-sm-2 col-form-label">Location</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="location" name="location" ngModel required>
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <textarea name="description" id="description" rows="8" class="form-control" ngModel></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary">Set Route</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 offset-md-10">
          <button type="submit" class="btn btn-success" [disabled]="!f.valid">Save</button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</form>