<ion-header no-border>
  <ion-navbar>
    <ion-buttons right>
      <button ion-button icon-only (click)="onClose(true)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ mode | uppercase }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding class="bg">
  <form #f="ngForm" (ngSubmit)="onEditName(f)" *ngIf="toEdit === 'editName'">
    <ion-list>
      <ion-item>
        <ion-label fixed>Name</ion-label>
        <ion-input type="text" name="name" ngModel [(value)]="username"></ion-input>
      </ion-item>

      <button item-end ion-button block type="submit">Update</button>
    </ion-list>
  </form>

  <form #f="ngForm" (ngSubmit)="onEditEmail(f)" *ngIf="toEdit === 'editEmail'">
    <ion-list>
      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input type="email" name="email" ngModel required></ion-input>
      </ion-item>

      <button item-end ion-button block type="submit">Update</button>
    </ion-list>
  </form>

  <form #f="ngForm" (ngSubmit)="onChangePassword(f)" *ngIf="toEdit === 'editPass'">
    <ion-list>
      <ion-item>
        <ion-label fixed>Old Password</ion-label>
        <ion-input type="password" name="password" ngModel required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>New Password</ion-label>
        <ion-input type="password" name="password" ngModel required [minlength]="6"></ion-input>
      </ion-item>

      <button item-end ion-button block type="submit">Update</button>
    </ion-list>
  </form>
</ion-content>
