page-events {
  ion-note {
    font-size: 13px;
    align-self: flex-start;
    margin-top: 14px;
  }
  .title {
    font-size: 115%;
  }
  .search {
    background-color: map-get($colors, bg);
    color: #333;
  }
  #sort {
    color: map-get($colors, secondary);
  }
}
