page-stats {
  ion-header {
    .toolbar-background {
      background: #fff;
    }
  }
  .header-md::after {
    background-image: none;
  }
  ion-row {
    margin: 20px 0;
  }
  ion-row:first-child {
    margin-top: 0;
    color: #333;
    h1 {
      font-size: 400%;
      margin-bottom: 0;
      color: map-get($colors, primary);
    }
  }
  ion-row:nth-child(2) {
    color: map-get($colors, secondarytext);
    h2 {
      font-size: 200%;
      margin: 0;
      color: #333;
    }
    ion-icon {
      font-size: 200%;
      color: map-get($colors, primary);
    }
  }
  ion-row:nth-child(3) {
    color: map-get($colors, secondarytext);
    h2 {
      font-size: 200%;
      margin: 0px;
      color: #333;
    }
    ion-icon {
      font-size: 200%;
      color: map-get($colors, primary);
    }
  }
}
