page-stats {
  ion-item {
    background-color: map-get($colors, primary) !important;
    color: #fff !important;
    h1 {
      margin-top: 10px !important;
      margin-bottom: 0 !important;
    }
    p {
      font-size: 120% !important;
      color: #fff !important;
      margin: 0 !important;
    }
  }
  ion-grid {
    // background-color: map-get($colors, bg);
    ion-row:first-child {
      font-size: 120%;
      margin: 25px 0;
      color: #333;
      p {
        color: map-get($colors, primary);;
        margin: 0;
        font-size: 300%;
        font-weight: bold;
      }
    }
    ion-row:nth-child(2) {
      color: map-get($colors, secondarytext);
      margin-bottom: 25px;
      h2 {
        font-size: 180%;
        margin: 0px;
        color: #333;
      }
      ion-icon {
        font-size: 150%;
        color: map-get($colors, primary);
      }
    }
  }
  ion-footer {
    button {
      margin: 0 !important;
      padding: 4px 0 !important;
    }
  }
}
