<ion-header no-border>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="onShowMore()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{eventData.name | uppercase}}</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="event">
      <ion-segment-button value="details">
        Details
      </ion-segment-button>
      <ion-segment-button value="route">
        Route
      </ion-segment-button>
      <ion-segment-button value="participants">
        Participants
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="event">
    <div *ngSwitchCase="'details'">
      <img [src]="eventData.imgPath" alt="Photo">
      <ion-grid class="details">
        <ion-row>
          <ion-col>
            <h4>{{eventData.displayDate}}</h4>
          </ion-col>
        </ion-row>
        <ion-row class="sec-details">
          <ion-col>
            <ion-icon name="time" item-left></ion-icon>
            {{eventData.displayTime}}
          </ion-col>
        </ion-row>
        <ion-row class="sec-details">
          <ion-col>
            <ion-icon name="pin" item-left></ion-icon>
            {{eventData.startPoint}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="description">
        <ion-row>
          <ion-col>
            <p>{{eventData.description}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'route'">
      <div id="map"></div>
    </div>

    <div *ngSwitchCase="'participants'">
      <ion-grid text-center class="content-middle" *ngIf="participants.length == 0">
        <ion-row>
          <ion-col>
            <h1>This event has no partcipants</h1>
            <p>When someone joins this event, it will show up here.</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list class="runners" *ngIf="participants.length != 0">
        <ion-list-header no-lines>Runners ({{participants.length}})</ion-list-header>
        <ion-item *ngFor="let participant of participants">
          {{participant.name}}
          <ion-note item-end>Runner #</ion-note>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>

<ion-footer *ngIf="this.eventData.status !== 'ended'">
  <!-- <button ion-button full color="secondary" (click)="onStartEvent()" *ngIf="eventData.status != 'started'">START EVENT</button> -->
  <button ion-button full (click)="onLivePreview(eventData.id)"
          [disabled]="this.eventData.status != 'started' ? anEventStarted == true : anEventStarted == false"
          [color]="this.eventData.status != 'started' ? 'secondary' : 'primary'">{{buttonTitle | uppercase}}
  </button>
</ion-footer>
