<ion-header no-border>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>EVENTS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item>
      <!-- <ion-label>
        <ion-icon name="search"></ion-icon>
      </ion-label>
      <ion-input type="text" placeholder="Search"></ion-input> -->
      <ion-searchbar></ion-searchbar>
      <button ion-button clear item-end icon-only (click)="onSort()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-list no-lines>
    <ion-list-header><b>Current Events</b></ion-list-header>
    <div *ngFor="let event of events">
      <button ion-item detail-none (click)="onOpenEvent(event)" *ngIf="event.status === 'started'">
        <ion-thumbnail item-start>
          <img src="http://cdn-img.instyle.com/sites/default/files/images/2017/02/020516-royalfootrace-embed.jpg"
               alt="Photo">
        </ion-thumbnail>
        <h2 class="title">{{event.name}}</h2>
        <p>{{event.description}}</p>
        <ion-note item-end>{{event.date}}</ion-note>
      </button>
    </div>
  </ion-list>

  <ion-list no-lines>
    <ion-list-header><b>Incoming Events</b></ion-list-header>
    <div *ngFor="let event of events">
      <button ion-item detail-none (click)="onOpenEvent(event)" *ngIf="event.status === 'incoming'">
        <ion-thumbnail item-start>
          <img src="http://cdn-img.instyle.com/sites/default/files/images/2017/02/020516-royalfootrace-embed.jpg"
               alt="Photo">
        </ion-thumbnail>
        <h2 class="title">{{event.name}}</h2>
        <p>{{event.description}}</p>
        <ion-note item-end>{{event.date}}</ion-note>
      </button>
    </div>
  </ion-list>

  <ion-list no-lines>
    <ion-list-header><b>Past Events</b></ion-list-header>
    <div *ngFor="let event of events">
      <button ion-item detail-none *ngIf="event.status === 'ended'" (click)="onOpenEvent(event)">
        <ion-thumbnail item-start>
          <img src="http://cdn-img.instyle.com/sites/default/files/images/2017/02/020516-royalfootrace-embed.jpg"
               alt="Photo">
        </ion-thumbnail>
        <h2 class="title">{{event.name}}</h2>
        <p>{{event.description}}</p>
        <ion-note item-end>{{event.date}}</ion-note>
      </button>
    </div>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="onAddEvent()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
