<ion-header no-border>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>EVENTS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid text-center class="content-middle" *ngIf="isListed == NULL">
    <ion-row>
      <ion-col>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid text-center class="content-middle" *ngIf="isListed == false">
    <ion-row>
      <ion-col>
        <h1>You have no events yet!</h1>
        <p>Create an event now to start using the app.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="isListed == true">
    <ion-list no-lines>
      <ion-list-header no-lines><b>Current Events</b></ion-list-header>
      <div *ngFor="let event of events">
        <button ion-item detail-none (click)="onOpenEvent(event)" *ngIf="event.status === 'started'">
          <ion-thumbnail item-start>
            <img [src]="event.imgPath" alt="Photo">
          </ion-thumbnail>
          <h2 class="title">{{event.name}}</h2>
          <p>{{event.description}}</p>
          <p>{{event.displayDate}}</p>
        </button>
      </div>
    </ion-list>

    <ion-list no-lines>
      <ion-list-header no-lines><b>Incoming Events</b></ion-list-header>
      <div *ngFor="let event of events">
        <button ion-item detail-none (click)="onOpenEvent(event)" *ngIf="event.status === 'incoming'">
          <ion-thumbnail item-start>
            <img [src]="event.imgPath" alt="Photo">
          </ion-thumbnail>
          <h2 class="title">{{event.name}}</h2>
          <p>{{event.description}}</p>
          <p>{{event.displayDate}}</p>
        </button>
      </div>
    </ion-list>

    <ion-list no-lines>
      <ion-list-header no-lines><b>Past Events</b></ion-list-header>
      <div *ngFor="let event of events">
        <button ion-item detail-none *ngIf="event.status === 'ended'" (click)="onOpenEvent(event)">
          <ion-thumbnail item-start>
            <img [src]="event.imgPath" alt="Photo">
          </ion-thumbnail>
          <h2 class="title">{{event.name}}</h2>
          <p>{{event.description}}</p>
          <p>{{event.displayDate}}</p>
        </button>
      </div>
    </ion-list>
  </div>

  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="onAddEvent()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
