page-events {
  ion-list:first-child {
    ion-item {
      background-color: map-get($colors, bg);
      padding: 0;
      ion-icon {
        color: rgb(102, 102, 102);
      }
      ion-searchbar {
        padding: 0;
        input {
          background-color: map-get($colors, bg) !important;
          box-shadow: none !important;
        }
      }
    }
  }
  ion-list:nth-child(2) {
    margin-top: 25px !important;
  }
  ion-list:nth-child(3) {
    margin-top: 20px !important;
  }
  ion-list-header {
    margin-bottom: 0 !important;
  }
  ion-note {
    font-size: 15px;
    align-self: flex-start;
    margin-top: 14px;
  }
  .title {
    font-size: 115%;
  }
}
