page-profile {
  #header {
    position: relative;
    ion-item {
      background-color: map-get($colors, primary) !important;
      color: #fff !important;
    }
  }
  ion-list {
    .item-md {
      padding: 0px 25px;
      color: #333;
      font-size: 130%;
      ion-icon {
        color: map-get($colors, secondarytext);
      }
    }
  }
}
