@import '../../app-variables';

.logo {
  text-align: center;
  img {
    height: 150px;
    width: auto;
    margin-bottom: 50px;
  }
}

.bg {
  background-color: $primary;
  height: 100vh;
  padding-top: 6%;
}

.panel {
  background-color: #fff;
  width: 40%;
  padding: 4% 3%;
}