.menu-header {
  background-color: map-get($colors, primary);
  color: #fff;
  margin-bottom: 30px;
  h1 {
    margin-left: 15px;
  }
}

.menu-icon {
  margin-right: 20px;
}

.menu-button {
  color: #333;
  padding: 8px;
}

page-events, page-event, page-profile, page-settings, page-change-frequency, page-edit-user, page-map, page-stats {
  ion-header {
    .toolbar-background {
      background: map-get($colors, primary);
    }
    .toolbar-title, .toolbar-button-default {
      color: white;
      font-weight: normal;
    }
    ion-navbar ion-icon {
      color: white;
    }
  }
}