.profile-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: map-get($colors, primary);
  margin-bottom: 20px;
  h5, p {
    color: #fff;
  }
  h5 {
    margin: 0;
  }
  p {
    margin-top: 0;
  }
}

.menu-icon {
  margin-right: 20px;
}

.menu-button {
  color: #333;
  padding: 8px;
}

.statsModal {
  // padding: 200px 3px 10px 3px;
  padding: 3% 3% 3% 3%;
  background-color: rgba(0,0,0,0.90);
}

page-events, page-event, page-profile, page-settings, page-change-frequency, page-edit-user {
  ion-header {
    .toolbar-background {
      background: map-get($colors, primary);
    }
    .toolbar-title, .toolbar-button-default {
      color: white;
      font-weight: normal;
    }
    ion-navbar ion-icon {
      color: white;
    }
  }
}

page-map {
  ion-header {
    .toolbar {
      position: absolute;

      .toolbar-background {
        background: transparent;
      }
    }
  }
}