  <ion-header no-border>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle color="white">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ name | uppercase }}</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="item">
      <ion-segment-button value="details">
        Details
      </ion-segment-button>
      <ion-segment-button value="route">
        Route
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid text-center class="content-middle" *ngIf="!loaded">
    <ion-row>
      <ion-col>
        <ion-spinner name="dots"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="loaded">
    <div [ngSwitch]="item">
      <div *ngSwitchCase="'details'">
        <div id="header">
          <img [src]="imgPath"
               alt="Photo">
          <ion-fab right bottom edge>
            <button ion-fab [color]="buttonColor" (click)="onUserEventStatus()" *ngIf="joined == undefined">
              <ion-spinner></ion-spinner>
            </button>
            <button ion-fab [color]="buttonColor" (click)="onUserEventStatus()" *ngIf="joined != undefined">
              <ion-icon [name]="buttonIcon"></ion-icon>
            </button>
          </ion-fab>
        </div>
        <ion-grid class="details">
          <ion-row>
            <ion-col>
              <h4>{{date}}</h4>
            </ion-col>
          </ion-row>
          <ion-row class="sec-details">
            <ion-col>
              <ion-icon name="time" item-left></ion-icon>
              {{time}}
            </ion-col>
          </ion-row>
          <ion-row class="sec-details">
            <ion-col>
              <ion-icon name="pin" item-left></ion-icon>
              {{start}}
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="description">
          <ion-row>
            <ion-col>
              <p>{{description}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngSwitchCase="'route'">
        <div id="map_canvas"></div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="joined">
  <button ion-button full color="secondary" (click)="onStartRun()">START RUN</button>
</ion-footer>
