page-event {
  .segment-button {
    color: #fff !important;
  }
  .segment-button.segment-activated {
    border-bottom-color: #fff !important;
  }
  #header {
    position: relative;
  }
  h4 {
    margin-bottom: 0;
  }
  .details {
    ion-col {
      padding: 0px 20px !important;
    }
  }
  .sec-details {
    color: map-get($colors, secondarytext);
  }
  .description {
    padding: 20px 16px 25px 16px;
    p {
      margin: 0;
    }
  }
  #map_canvas {
    height: 100vh;
    background-color: map-get($colors, bg);
  }
  .checkpoints {
    margin-bottom: 0;
    font-size: 140%;
    .item-inner {
      margin-left: 0 !important;
    }
    ion-icon {
      padding: 0 !important;
      margin-right: 0 !important;
      margin-top: 15px !important;
      font-size: 100%;
      color: map-get($colors, danger);
    }
  }
  ion-footer {
    button {
      margin: 0 !important;
      padding: 4px 0 !important;
    }
  }
}
