<ion-header no-border>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle color="white">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ name | uppercase }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid text-center class="content-middle" *ngIf="loaded == undefined">
    <ion-row>
      <ion-col>
        <ion-spinner name="dots"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid text-center class="content-middle" *ngIf="loaded == false">
    <ion-row>
      <ion-col>
        EMPTY
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="loaded == true">
    <div id="header">
      <img [src]="imgPath" alt="Photo">
    </div>

    <ion-grid class="details">
      <ion-row>
        <ion-col>
          <h4>{{date}}</h4>
        </ion-col>
      </ion-row>
      <ion-row class="sec-details">
        <ion-col>
          <ion-icon name="time" item-left></ion-icon>
          {{time}}
        </ion-col>
      </ion-row>
      <ion-row class="sec-details">
        <ion-col>
          <ion-icon name="pin" item-left></ion-icon>
          {{start}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="description">
      <ion-row>
        <ion-col>
          <p>{{description}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <button ion-button full color="secondary" (click)="onStartRun()">START RUN</button>
</ion-footer>
