page-participant {
  ion-grid:first-child {
    background-color: map-get($colors, primary);
    color: #fff;
    h2 {
      margin: 0;
      font-weight: normal;
    }
    p {
      margin-top: 0px;
      font-size: 140%;
      ion-icon {
        font-size: 100%;
        margin-right: 5px;
      }
    }
  }
  ion-grid:nth-child(2) {
    background-color: #333;
    p {
      color: map-get($colors, primary);
      margin-left: 20px;
      ion-icon {
        margin-right: 5px;
      }
      span {
        margin-left: 5px;
        color: #fff;
        ion-icon {
          margin-left: 5px;
        }
      }
    }
  }
  ion-grid:nth-child(3) {
    background-color: map-get($colors, bg);
    p {
      color: #333;
      margin-left: 20px;
      ion-icon {
        margin-right: 5px;
      }
      span {
        margin-left: 5px;
      }
    }
    ion-col:nth-child(2) {
      p {
        margin-left: 0;
        margin-right: 20px;
      }
    }
  }
}
