<div class="row no-gutters">
  <div class="col-4">
      <img src="http://cdn-img.instyle.com/sites/default/files/images/2017/02/020516-royalfootrace-embed.jpg" alt="Event Photo">
  </div>

  <div class="col">
    <div class="d-flex w-100 justify-content-between">
      <h2>Event Title</h2>
      <button class="btn btn-light">More</button>
    </div>
    <p>
      Date<br/>
      Location
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum dui diam, at vestibulum arcu mattis a. Curabitur ac faucibus risus, a scelerisque enim. Vestibulum sed nibh dolor. In dictum sem non odio cursus interdum. Vivamus ac maximus ipsum. Quisque viverra eu lacus sit amet laoreet. Quisque sodales lacinia velit nec maximus. Nulla id molestie dolor, congue elementum odio. Etiam congue eros nisl, non semper diam aliquet mattis. Donec aliquet pharetra leo vel auctor.</p>
    <button class="btn btn-link" type="button">View Event -></button>
  </div>
</div>