page-profile {
  #header {
    color: #fff;
    ion-list {
      ion-item {
        background-color: map-get($colors, primary) !important;
      }
    }
    // button {
    //   color: #fff !important;
    //   position: absolute;
    //   top: 0;
    //   right: 10px;
    // }
  }
  ion-list {
    .item-md {
      padding: 0px 25px;
      color: map-get($colors, primary);
      font-size: 130%;
      ion-icon {
        color: map-get($colors, secondarytext);
      }
    }
  }
}
