page-profile {
  #header {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: map-get($colors, primary);
    margin-bottom: 20px;
    color: #fff;
    h2 {
      margin-top: 0;
      font-weight: normal;
    }
  }
  ion-list {
    .item-md {
      padding: 0px 25px;
      color: map-get($colors, primary);
      font-size: 130%;
      ion-icon {
        color: map-get($colors, secondarytext);
      }
    }
  }
}
