page-map {
  #map_canvas {
    height: 100%;
    background-color: map-get($colors, bg);
  }

  .stats {
    padding-right: 0;
    padding-left: 0;
    border-bottom-width: 0px;
  }

  .item-md.item-block .item-inner {
    padding-right: 0 !important;
  }

  .label-md {
    margin-right: 0 !important;
  }
  
  .stats-open {
    width: 10%;
    height: 3px;
    margin: auto;
    background-color: rgba(83, 83, 83, 0.5);
    border-radius: 5px;
  }

  .details {
    font-size: 115%;
    color: #333;
    ion-icon {
      font-size: 100%;
      color: #2979ff;
    }
  }

  h5 {
    margin-top: 0;
  }
}
