<ion-header no-border>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle color="dark">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <div class="location" *ngIf="mode === 'start'">
    {{ lat }}, {{ lng }}
  </div>
  <div id="map_canvas"></div>
  <ion-fab right bottom *ngIf="mode === 'join'">
    <button ion-fab (click)="onStart()" color="secondary">
      <ion-icon name="play"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-grid *ngIf="mode === 'view'">
    <ion-row>
      <ion-col col-8>
        <h1>EVENT TITLE</h1>
      </ion-col>
      <ion-col text-center>
        <p>Event starts in</p>
        <h5>10 days</h5>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid *ngIf="mode === 'join'">
    <ion-row>
      <button ion-button block (click)="onStart()">START</button>
    </ion-row>
  </ion-grid> -->

  <!-- <ion-list no-lines *ngIf="mode === 'start'" no-padding>
    <button detail-none ion-item (click)="onOpenStats()" class="stats">
      <div class="stats-open"></div>
      <ion-grid no-padding text-center>
        <ion-row>
          <ion-col>
            <ion-icon item-left name="navigate"></ion-icon>
            10 km
          </ion-col>

          <ion-col>
            <ion-icon item-left name="time"></ion-icon>
            00:01:00
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-list> -->

  <ion-grid no-padding *ngIf="mode === 'start'">
    <ion-row>
      <ion-col>
        <button ion-item (click)="onOpenStats()" class="stats">
            <div class="stats-open"></div>
            <ion-grid no-padding text-center>
              <ion-row>
                <ion-col>
                  <div class="details">
                    <ion-icon item-left name="navigate"></ion-icon>
                    10 km
                  </div>
                </ion-col>

                <ion-col>
                  <div class="details">
                    <ion-icon item-left name="time"></ion-icon>
                    00:01:00
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>
