page-map {
  #map_canvas {
    height: 100%;
    background-color: map-get($colors, bg);
  }

  .location {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    width: 150px;
    text-align: center;
    border: 1px solid map-get($colors, divider);
  }

  .stats {
    // color: #fff;
    // background-color: #333;
    padding-right: 0;
    padding-left: 0;
    border-bottom-width: 0px;
  }
  
  .stats-open {
    width: 10%;
    height: 3px;
    margin: auto;
    background-color: rgba(83, 83, 83, 0.5);
    border-radius: 5px;
  }

  .details {
    font-size: 150%;
    color: #333;
  }

  p {
    margin-bottom: 0;
  }

  h5 {
    margin-top: 0;
  }
}
