page-map {
  #map_canvas {
    height: 100%;
    background-color: map-get($colors, bg);
  }

  .item-md.item-block .item-inner {
    padding-right: 0 !important;
  }

  .label-md {
    margin-right: 0 !important;
  }

  ion-footer {
    ion-grid {
      h1 {
        color: #333;
        margin: 0;
        padding: 15px 0;
        ion-icon {
          color: map-get($colors, primary);
          font-size: 95%;
          margin-right: 5px;
        }
      }
    }
    button {
      margin: 0 !important;
      padding: 4px 0 !important;
    }
  }
}
