<div class="row">
  <div class="col-md-5 offset-md-8">
    <form class="form-inline">
      <button class="btn btn-primary add" type="button" (click)="onAddEvent()">
        <i class="ion-android-add"></i>
        Add Event
      </button>
      <div class="form-group mx-sm-3">
        <div class="input-group">
          <input type="text" class="form-control" id="search" placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
              <i class="ion-android-search"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row events">
  <div class="col">
    <div class="list-group list-group-flush">
      <div class="list-group-item list-group-item-action" *ngFor="let event of events">
        <div class="row">
          <div class="col-4 eventImg">
            <img src="{{ event.imgPath }}" alt="Photo">
          </div>
          <div class="col">
            <div class="d-flex w-100 justify-content-between">
              <h2>{{ event.name }}</h2>
              <button class="btn btn-light">
                <i class="ion-android-more-vertical"></i>
              </button>
            </div>
            <p>
              {{ event.date }}, {{ event.time }}<br/>
              {{ event.location }}
            </p>
            <p>{{ event.description }}</p>
            <button class="btn btn-link" type="button" [routerLink]="['/events', event.id]">View Event -></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>