.eventImg {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.20);
    -ms-transform: scale(1.20);
    transform: scale(1.20);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    &:hover {
      opacity: 1;
      -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
      transform: scale(1.15);
    }
  }
}

i {
  font-size: 150%;
}

.add i {
  font-size: 90%;
}

.events {
  margin: 30px 0;
}