// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu {
  background-color: map-get($colors, menu-bg);
  color: #fff;
}

.menu-header {
  background-color: map-get($colors, menu-bg-light);
  color: #fff;
  margin-bottom: 30px;
  h1 {
    margin-left: 15px;
  }
}

.menu-item {
  margin: 15px 0;
  font-size: 130%;
  ion-icon {
    margin-left: 10px;
    margin-right: 20px;
    color: rgb(204, 204, 204);
  }
}

page-home, page-events, page-event, page-edit-event, page-profile {
  ion-header {
    .toolbar-background {
      background: map-get($colors, primary);
    }
    .toolbar-title, .toolbar-button-default {
      color: white;
      font-weight: normal;
    }
    ion-navbar ion-icon {
      color: white;
    }
  }
}
