page-edit-event {
  .segment-button {
    color: #fff !important;
  }
  .segment-button.segment-activated {
    border-bottom-color: #fff !important;
  }
  #map {
    height: 70vh;
    background-color: map-get($colors, bg);
  }
}
