page-edit-event {
  ion-grid:first-child {
    margin-bottom: 10px;
  }

  ion-list {
    .a {
      color: green !important;
    }
    .b {
      color: red !important;
    }
  }
  
  ion-list-header {
    margin-bottom: 0 !important;
  }

  #map {
    height: 300px;
  }

  .pointlist {
    margin-bottom: 0 !important;
  }
}
