page-edit-event {
  ion-grid:first-child {
    margin-bottom: 10px;
  }
  ion-list-header {
    margin-bottom: 0 !important;
  }
  #map {
    height: 55vh;
    background-color: map-get($colors, bg);
  }
  .pointlist {
    margin-bottom: 0 !important;
  }
}
