<ion-header no-border>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ mode | uppercase }} EVENT</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="eventForm" (ngSubmit)="onAddEventDetails()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Event Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Date</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [min]="minDate" max="2020" formControlName="date"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>Time</ion-label>
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="time"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Description</ion-label>
            <ion-textarea rows="6" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button type="button" ion-button clear icon-left (click)="onUploadImg()">
            <ion-icon name="camera"></ion-icon>
            Upload Photo
          </button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="mode === 'edit' && photoTaken">
        <ion-col>
          <img [src]="cameraUrl" alt="photo">
        </ion-col>
      </ion-row>

      <ion-row *ngIf="mode === 'edit' && !photoTaken">
        <ion-col>
          <img [src]="eventData.imgPath" alt="photo">
        </ion-col>
      </ion-row>

      <ion-row *ngIf="mode === 'add' && photoTaken">
        <ion-col>
          <img [src]="cameraUrl" alt="photo">
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list>
      <ion-list-header no-lines>Set Route</ion-list-header>
      <button ion-item detail-none (click)="onSearchStart()" type="button">
        <div *ngIf="start">{{ start }}</div>
        <div *ngIf="!start">Start Point</div>
      </button>
      <button ion-item detail-none (click)="onSearchEnd()" type="button">
          <div *ngIf="end">{{ end }}</div>
          <div *ngIf="!end">End Point</div>
      </button>
    </ion-list>

    <div #map id="map"></div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button clear icon-left type="button">
            <ion-icon name="map"></ion-icon>
            Upload GPX File
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button type="submit" ion-button block icon-right color="secondary" [disabled]="!eventForm.valid && !startIsSet && !endIsSet">
            Save
            <ion-icon name="checkmark"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
